OAUTH2_CLIENT_ID:				##bot client id
OAUTH2_CLIENT_SECRET:			##bot client secret
OAUTH2_REDIRECT_URI: 			##bot redirect uri
bot_tokens: 					##list of bot tokens
STRIPE_SECRET_KEY: 				##stripe private key
STRIPE_PUBLISHABLE_KEY: 		##stripe public key
STRIPE_WEBHOOK_KEY: 			##stripe webhook key
standard_role: 					##role name for non-premium subscribers
premium_role:					##role name for premium subscribers
premium_plan_id:                ##stripe role id for pricing plan
stripe_channels: 				##channel ids for stripe to post webhooks to
user_info_channels:             ##channel ids for user info to be posted to
invite_code:                    ##invite code for users to be added to the server with
