{% extends "layout.html" %}
{% block content %}

  <div>
    <h2>Tip Jar</h2>
    <p>Click the button below to pay <b>{{ "${:,.2f}".format(amount/100) }}</b> as a one-time tip!</p>
    <br>

    <form action="/subscribe/success?id={{ id }}&plan=charge&amount={{ amount }}&message={{ message }}" method="post">

      <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
              data-key="{{ key }}"
              data-image="/Discord-OAuth2/static/logo_small.png"
              data-name="TallyPokeMap"
              data-description="One-Time Payment"
              data-amount="{{ amount }}"
              data-locale="auto"
              data-zip-code="true"
              data-email="{{ email }}"></script>
    </form>
  </div>

{% endblock %}