[Unit]
Description=Gunicorn instance to serve oauth2
After=network.target

[Service]
User=root
Group=www-data
WorkingDirectory=/var/www/html/PMSF/Discord-OAuth2
Environment="PATH=/var/www/html/PMSF/Discord-OAuth2/env/bin"
ExecStart=/var/www/html/PMSF/Discord-OAuth2/env/bin/gunicorn wsgi:app --timeout 120 --bind unix:oauth2.sock

[Install]
WantedBy=multi-user.target